<!-- main_app/templates/tasks/detail.html -->

{% extends 'base.html' %}

{% block content %}
<h1>{{ task.name }}</h1>

<div class="mb-3">
  <a href="{% url 'task-edit' task.pk %}" class="btn btn-warning me-2" aria-label="Edit Task">Edit Task</a>
  <a href="{% url 'task-delete' task.pk %}" class="btn btn-danger" aria-label="Delete Task">Delete Task</a>

</div>

<ul>
  {% for item in task.items.all %}
    <li>
      {% if item.is_complete %}✅{% else %}⬜{% endif %}
      {{ item.description }}
    </li>
  {% endfor %}
</ul>

<a href="{% url 'task-index' %}">← Back to tasks</a>
{% endblock %}