<!-- main_app/templates/tasks/task_confirm_delete.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container my-5 d-flex justify-content-center">
  <div class="thunder-modal-card p-5 text-center">

    <h2 class=" thunder-modal-title mb-4">Confirm Delete</h2>
    <p class="mb-4">Are you sure you want to delete the task <strong class="delete-item-name">{{ task.name }}</strong>?</p>
  
    <form method="POST" class="d-flex justify-content-center gap-3">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Yes, delete</button>
      <a href="{% url 'task-detail' task_id=task.id %}" class="btn btn-secondary">Cancel</a>
    </form>
    
  </div>
</section>
{% endblock %}