<!-- main_app/templates/about.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>
  <body>
    <h1>About the Todo App</h1>
    <h2>Creator: Zebastian Rodriguez</h2>
    <p>This project is my first full-stack build since graduating from the General Assembly Software Engineering Bootcamp. I chose a TODO List application to reinforce the Python skills I’ve continued practicing and to rebuild a Django project from the ground up. I also used it as an opportunity to challenge myself with Bootstrap and improve my front-end styling. Overall, this project highlights my commitment to strengthening my foundation and growing as a full-stack developer.</p>

    <h3>Explore More of My Work</h3>
    <p>To see more of my projects and connect with me, feel free to visit the links below:</p>

    <ul>
        <li><a href="https://www.linkedin.com/in/zebastian-rodriguez-480191309/" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/Zebyrod" target="_blank">GitHub</a></li>
    </ul>
  </body>
</html>
